<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <General>
    <Log>
      <Location>C:\Users\miu2n\Desktop\log.txt</Location>
      <Level>DEBUG</Level>
    </Log>
    <Mail>
      <!-- The rate to check the account (in seconds) -->
      <Polling>10</Polling>
      <ExchangeVersion>2010</ExchangeVersion>
      <UseWindowsCredentials>False</UseWindowsCredentials>
      <Email>inma@cmich.edu</Email>
      <Password>GC9zL6LuBDsTQCfXmrdV</Password>
      <!-- Use Auto if you are using Autodiscover -->
      <Url>Auto</Url>
    </Mail>
    <DefaultSavePath>C:\Users\miu2n\Desktop\</DefaultSavePath>
  </General>
  <Profiles>
    <Profile>
      <Name>Profile 1</Name>
      <EmailSubject>INMA:</EmailSubject>
      <EmailBody>Document</EmailBody>
      <SaveAttachments>True</SaveAttachments>
      <SaveBody>False</SaveBody>
      <SavePath>C:\Users\miu2n\Desktop\</SavePath>
    </Profile>
  </Profiles>
</Settings>
