<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <General>
    <Log>
      <!-- 
        If the logs are going to be stored outside of the applicaiton directory:
          1. Set LocalLocation to True
          2. Use an absolute path in the Location
        Otherwise logs will be stored in the APP_ROOT\logs\ directory.
        -->
      <LocalLocation>True</LocalLocation>
      
      <!-- Location to save the log files, will date prepend on the final . -->
      <Location>mail_agent.log</Location>
      <!--
        Defines the level of logging to output to the logs.
          1. NONE
          2. CRITICAL
          3. ERROR
          4. WARNING
          5. INFO
          6. DEBUG
        -->
      <Level>DEBUG</Level>
    </Log>
    <Mail>
      <!-- The rate to check the account (in seconds) -->
      <Polling>10</Polling>
      <!-- The version of Exchange that EWS is using. Default: 2010 -->
      <ExchangeVersion>2010</ExchangeVersion>
      <UseWindowsCredentials>False</UseWindowsCredentials>
      <Email>inma@cmich.edu</Email>
      <!-- Not required if using Windows Credentials -->
      <Password>GC9zL6LuBDsTQCfXmrdV</Password>
      <!-- The Outlook folder that mail items go when there is an error or no profile associated to the email -->
      <ErrorFolder>Errors</ErrorFolder>
      <!-- Use Auto if you are using Autodiscover -->
      <Url>Auto</Url>
    </Mail>
    <!-- The default path to save email files. Requires a trailing \ -->
    <DefaultSavePath>\\imageapp-test\c$\Users\miu2n\Desktop\</DefaultSavePath>
  </General>
  <Profiles>
    <Profile>
      <Name>Profile 1</Name>
      <EmailSubject>INMA:</EmailSubject>
      <EmailBody>Document</EmailBody>
      <SaveAttachments>True</SaveAttachments>
      <SaveBody>False</SaveBody>
      <!--<SavePath>\\imageapp-res\miu2n-download\</SavePath>-->
    </Profile>
  </Profiles>
</Settings>
